<!DOCTYPE html>
<html>
<head>
    <title>BEAUTIFUL CHAT ROOM</title>
    <link rel="stylesheet" href="style.css">
body {
    font-size: 14px;
    color: navy;
}
h1 {
    color: #ffc;
    background-color: #009;
}
</head>